/*
* Pages Mixins
*/
body {
  background: #f7f7f9;
}

.bg-body {
  background: #f7f7f9 !important;
}

.text-primary {
  color: #000000 !important;
}

.text-body[href]:hover,
.text-heading[href]:hover {
  color: #666666 !important;
}

.bg-primary {
  background-color: #000000 !important;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #666666 !important;
}

.bg-label-primary {
  background-color: #e7e7ff !important;
  color: #000000 !important;
}

.bg-label-hover-primary {
  background-color: #e7e7ff !important;
  color: #000000 !important;
}
.bg-label-hover-primary:hover {
  background-color: #000000 !important;
  color: #fff !important;
}

.bg-gradient-primary {
  background-image: linear-gradient(45deg, #000000, #666666) !important;
}

.table-primary {
  --bs-table-bg: #e0e2ff;
  --bs-table-striped-bg: #d5d7f4;
  --bs-table-striped-color: #262b43;
  --bs-table-active-bg: #d1d3f0;
  --bs-table-active-color: #262b43;
  --bs-table-hover-bg: #d5d7f4;
  --bs-table-hover-color: #262b43;
  color: #262b43;
  border-color: #cacce8;
}
.table-primary .btn-icon,
.table-primary .btn {
  color: #262b43;
}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #666666 !important;
  border-color: #666666 !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.show.dropdown-toggle,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}

.btn-group .btn-primary,
.input-group .btn-primary {
  border-right: 1px solid #666666;
  border-left: 1px solid #666666;
}

.btn-group-vertical .btn-primary {
  border-top-color: #666666;
  border-bottom-color: #666666;
}

.btn-label-primary {
  color: #000000;
  border-color: #e7e7ff;
  background: #e7e7ff;
}
.btn-label-primary.waves-effect .waves-ripple {
  background: radial-gradient(
    rgba(102, 108, 255, 0.2) 0,
    rgba(102, 108, 255, 0.3) 40%,
    rgba(102, 108, 255, 0.4) 50%,
    rgba(102, 108, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
}
.btn-label-primary:hover {
  border-color: #dadcff5c !important;
  background: #dadcff5c !important;
  color: #000000 !important;
}
.btn-label-primary:focus,
.btn-label-primary.focus {
  color: #000000;
  background: #dadcff5c;
  border-color: #dadcff5c;
}
.btn-label-primary:active,
.btn-label-primary.active,
.btn-label-primary.show.dropdown-toggle,
.show > .btn-label-primary.dropdown-toggle {
  color: #000000 !important;
  background-color: #dadcff5c !important;
  border-color: #dadcff5c !important;
}
.btn-label-primary.disabled,
.btn-label-primary:disabled {
  color: #000000 !important;
  border-color: #e7e7ff !important;
  background: #e7e7ff !important;
}

.btn-group .btn-label-primary,
.input-group .btn-label-primary {
  border-right: 1px solid #ced0ff !important;
  border-left: 1px solid #ced0ff !important;
}

.btn-group-vertical .btn-label-primary {
  border-top-color: #ced0ff !important;
  border-bottom-color: #ced0ff !important;
}

.btn-text-primary {
  color: #000000 !important;
}
.btn-text-primary.waves-effect .waves-ripple {
  background: radial-gradient(
    rgba(102, 108, 255, 0.2) 0,
    rgba(102, 108, 255, 0.3) 40%,
    rgba(102, 108, 255, 0.4) 50%,
    rgba(102, 108, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
}
.btn-text-primary:hover {
  border-color: transparent;
  background: #eeeeee;
  color: #000000;
}
.btn-text-primary:focus,
.btn-text-primary.focus {
  color: #000000;
  background: #eeeeee;
}
.btn-text-primary.btn:active,
.btn-text-primary.btn.active,
.btn-text-primary.btn.show.dropdown-toggle,
.btn.show > .btn-text-primary.dropdown-toggle {
  color: #000000;
  background: #eeeeee !important;
  border-color: transparent !important;
}

.btn-group .btn-text-primary,
.input-group .btn-text-primary {
  border-right: 1px solid #000000 !important;
  border-left: 1px solid #000000 !important;
}

.btn-group-vertical .btn-text-primary {
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
}

.btn-outline-primary {
  color: #000000;
  border-color: #000000;
  background: transparent;
}
.btn-outline-primary.waves-effect .waves-ripple {
  background: radial-gradient(
    rgba(102, 108, 255, 0.2) 0,
    rgba(102, 108, 255, 0.3) 40%,
    rgba(102, 108, 255, 0.4) 50%,
    rgba(102, 108, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
}
.btn-outline-primary:hover {
  color: #000000 !important;
  background-color: #eeeeee !important;
  border-color: #000000 !important;
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  color: #000000;
  background-color: #eeeeee;
  border-color: #000000;
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
  color: #000000 !important;
  background-color: #eeeeee !important;
  border-color: #000000 !important;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #000000 !important;
}

.btn-outline-primary .badge {
  background: #000000;
  border-color: #000000;
  color: #fff;
}

.btn-outline-primary:hover .badge,
.btn-outline-primary:focus:hover .badge,
.btn-outline-primary:active .badge,
.btn-outline-primary.active .badge,
.show > .btn-outline-primary.dropdown-toggle .badge {
  background: #000000;
  border-color: #000000;
  color: #fff;
}

.dropdown-item.waves-effect .waves-ripple {
  background: radial-gradient(
    rgba(102, 108, 255, 0.2) 0,
    rgba(102, 108, 255, 0.3) 40%,
    rgba(102, 108, 255, 0.4) 50%,
    rgba(102, 108, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 70%
  );
}
